<!DOCTYPE html>
<html>
  <head>
    <title>BlogSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>

  <body>
    <%# <div class="container-fluid col-md-8" style="width: 60%;"> %>
    <%= render "common/navbar" %>
    <div class="container-fluid col-md-8 col-md-offset-2">
      <%= yield %>
      <%= render "common/footer" %>
    </div>
  </body>
</html>
